set --global --export DOTFILES_REPO {{ DOTFILES_REPO }}

fish_config theme choose "Dracula Official"

ulimit --file-descriptor-count 100000

for file in ~/.config/fish/autoload/*
    source $file
end
